<div id="<%= dom_id song %>">
  <p>
    <strong>Name:</strong>
    <%= song.name %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= song.album_id %>
  </p>

  <p>
    <strong>Loves:</strong>
    <%= song.loves %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= song.likes %>
  </p>

</div>
