<div id="<%= dom_id album %>">
  <p>
    <strong>Loves:</strong>
    <%= album.loves %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= album.likes %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= album.artist %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= album.name %>
  </p>

</div>
